<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand fw-semibold" href="#">Camila Devia</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav align-items-lg-center gap-lg-3">
        <li class="nav-item">
          <a class="nav-link" href="#sobre-mi">Sobre mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#formacion">Formación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-black ms-lg-2" href="#contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
